<!DOCTYPE html>
<html ng-app="gameFilter">
<head>
	<title>GameFilter</title>

	
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>

	<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<script src="/js/app.js"></script>
  	<script src="js/factories/auth.fact.js"></script>
  	<script src="js/factories/user.fact.js"></script>
  	<script src="js/factories/game.fact.js"></script>
  	<script src="js/controllers/auth.ctrl.js"></script>
  	<script src="js/controllers/game.ctrl.js"></script>

  	<script src="https://use.fontawesome.com/597dd18707.js"></script>

  	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

  	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  	<link href="https://fonts.googleapis.com/css?family=Londrina+Outline|Nunito" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body ng-controller='authController as auth'>

	<div class="navbar-fixed">	
		<nav>
		  <div class="nav-wrapper blue" ng-if="auth.user">
		  	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
		  	<div class="app-logo">
		  		<i class="logo left fa fa-gamepad fa-3x" aria-hidden="true"></i>
		  		<h4 class="left">GameFilter</h4>
		  	</div>
		    <a class="brand-logo center hide-on-med-and-large">Welcome {{auth.user.email}}!</a>
		    <ul id="nav-mobile" class="right hide-on-med-and-down">
		      <li><a href="#" ui-sref='home'><i class="fa fa-home" aria-hidden="true"> </i>Home</a></li>
		      <li><a href="#" ui-sref="users"><i class="fa fa-user" aria-hidden="true"> </i>Profile</a></li>
		      <li><a href="#" ng-click="auth.signOut()"><i class="fa fa-sign-out" aria-hidden="true"> </i>Log out</a></li>
		    </ul>
		    <ul class="side-nav" id="mobile-demo">
	          <li><a href="#" ng-click="auth.signOut()">Log out</a></li>
		      <li><a href="#" ui-sref='home'>Home</a></li>
		      <li><a href="#" ui-sref='users'>Profile</a></li>
	        </ul>
		  </div>
		  <div class="nav-wrapper blue" ng-if="!auth.user">
		  	<a href="#" data-activates="dropdown1" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
		  	<div class="app-logo">
		  		<i class="left fa fa-gamepad fa-3x" aria-hidden="true"></i>
		  		<h4 class="left">GameFilter</h4>
		  	</div>
		    <a class="brand-logo center">Welcome new user!</a>
		    <ul id="nav-mobile" class="right hide-on-med-and-down">
		      <li><a href="#" ui-sref='login'>Log in</a></li>
		      <li><a href="#" ui-sref='signup'>Signup</a></li>
		    </ul>
		    <ul id="dropdown1" class="dropdown-content">
			  <li><a href="#" ui-sref='login'>Log in</a></li>
			  <li><a href="#" ui-sref='signup'>Signup</a></li>
			</ul>
		  </div>
		</nav>
	</div>

	<!-- <div ng-if="auth.user">
      <h2 class="brand-logo center">Welcome {{auth.user.email}}</h2>
      <br>
      <a href="#" ng-click="auth.signOut()">Log out</a>
      <a href="#" ui-sref='home'>Home</a>
    </div>

    <div ng-if="!auth.user">
      <strong>Welcome new user</strong>
      <br>
      <a href="#" ui-sref='login'>Log in</a>
      <a href="#" ui-sref='signup'>Signup</a>

    </div>
 -->
	<section ui-view> 
    <!-- views get rendered here  -->
  	</section>
	

</body>
</html>