body{
	text-align: center;
}

.field{
	margin: 0;
	padding: 10px;
}

.card{
	display: inline;
}

.ratings h4{
	display: inline-block;
	padding: 20px;
}

.app-logo i{
	padding-left: 20px;
	/*padding-top: 15px;*/
	-webkit-transform:rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
}

.app-logo h4{
	font-family: 'Londrina Outline', cursive;
}

#sbar{
	color: white;
}

.cover{
	max-width: 60%;
    height: auto;
}

@media screen and (max-width: 1031px) {
  .brand-logo {
    visibility: hidden;
  }
  .app-logo{
  	padding-top: 10px;
  }
}

@media screen and (max-width: 601px) {
  .brand-logo {
    visibility: hidden;
  }
  .app-logo{
  	padding-top: 5px;
  }

  .app-logo i{
  	display: none;
  }
}

